.array{
    margin:1em;
    width:8em;
    color:grey;
    padding:1em;
    box-shadow:0px 0px 15px rgb(230,230,230);
    &:hover{
        box-shadow:0 0px 20px rgb(230,230,230);
        transform : scale(1.05);
        color: black;
        transition: 0.3s;
    }
}

.array-parent{
    display:flex;
     flex-flow:row wrap;
     justify-content: space-evenly;
}

.imgstyle{
    width:100%;
}

.custom-model{
    position: fixed;
    top:0;
    left:0;
    z-index: 1000000;
    background:rgba(0,0,0,0.3);
    color:white;
    width: 100vw;
    height: 100vh;
}
.custom-model-box{
    background:white;
    color:black;
    width:80vw;
    height:80vh;
    overflow: auto;
    padding:2em;
    margin:6em auto auto auto;
    padding-top:2em;
    ul{
        overflow:auto;
        // list-style-type: disc;
    }
}

.custom-scroll::-webkit-scrollbar{
    overflow: hidden;
}
.mycustomnav{
    padding-right:0.5em;
    padding-left: 0.5em;
    width:100%;
    white-space: nowrap;
    padding-top:0.5em;
    background:white;
    
}

.mycustomnavactive{
    border-radius:30px;
    border: 1px solid rgb(151, 150, 150);
    padding:0.7em;
    box-shadow: 0px 0px 15px rgb(230,230,230);
    &:hover{
        background:rgb(247, 0, 74);
        transition: 1s;
        color:white;
    }
}

.custom-model-box::-webkit-scrollbar{
    overflow: hidden;
}

.sidefilter{
    background:white;
    color:black;
    border-radius: 10px;
    padding:7px;
    font-size: 10px;
    box-shadow: 0px 0px 10px rgb(220, 220, 220);
}

.mysideFilter{
    width:60vw;
    padding:10px 2em;
    color:black;  
    background:white;
}

.mycustomliststyle{
    color:white;
    border-radius:50%;
    background : linear-gradient(rgb(20, 133, 255), rgb(34, 98, 157));
    padding: 3px;
    margin-right:20px;
}

.mycustomtopicinactive{
    background: rgba(248,248,248,0.9);
    padding: 0.5em;
}

.mycustomtopicactive{
    background:linear-gradient(to top,red,rgb(235, 149, 149),white);
    padding:2px; 
    border-bottom:2px solid linear-gradient(red,white,rgb(230,230,230));
}
.mytopicmobile{
    margin-left: -10px;
    
}

.mytopic1{
    text-align:center;
    background:white;
    width:104%;
}
.mycustominput{
    margin-top: 1em;
    // margin-left:-20px;
    padding:0.3em;
    width:100%;
    border:1px solid white;
}

@media screen and (max-width: 500px) {
    .mycustominput{
        margin-left:0px;
    }
    .mymobile{
        margin-top: 4em;
    }
    .mycustomtopicinactive{
        background: rgba(248,248,248,0.9);
        padding: 0.5em;
    }
    .mytopicmobile{
        // margin-right:0.2em;
        margin-left:-1.8vw;
        height:auto;
    }
    .mycustomtopicactive{
        background:linear-gradient(to top,red,white);
        padding:0px; 
        border-bottom:2px solid linear-gradient(red,white,rgb(230,230,230));
    }
    .custom-model{
        position: fixed;
        top:-15vh;
        left:0;
        z-index: 1000000;
        background:rgba(0,0,0,0.3);
        color:white;
        width: 100vw;
        height: 100vh;
    }
    .custom-model-box{
        width:100vw;
        top:0;
        height:100vh;
    }
}
.myliststyle{
    color:black;
    margin-top:10px;
}

.mycustomlist{
    li{
        background: linear-gradient(to right bottom, rgb(235, 235, 235), rgb(200,200,200), rgb(255,255,255));
        padding:8px;
        padding-right:15px;
        padding-left:15px;
        color:black;
        border-radius: 50%;
        box-shadow: 2px 2px 4px rgb(210,210,210);
        &:hover{
            color:white;
            background-color: red;
            transition: 2s;

        }
    }
}

.mybuttonstyle{
    border-top:1px solid black; 
    background:black;
    margin-left:-20px;
    color:white; border-radius:0; 
    padding:0.6em
}

.listactive{
    background: radial-gradient(#f2b0b0, #9198e5);
    color:white;
}

.loading{
    margin-left:40vw;
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid red;
    animation-name: loadinganimation;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.headerborder{
    width:4em;
    background:red;
    height:4px;
    border-radius:5px;
    animation-name: bor;
    margin-top:1em;
    animation-iteration-count: 1;
    animation-duration: 4s;
}
.mynewsletter{
    padding:2em; 
    background:linear-gradient(to bottom right,rgb(130, 188, 242), rgb(70, 159, 242),rgb(0, 132, 255));
    box-shadow:4px 4px 10px rgb(210,210,210);
    border: 1px solid lightgrey;border-radius:10px;
}

@keyframes bor {
    0%{
        width:0em;
    }
    40%{
        width:15em;
    }
    80%{
        width:0em;
    }
    100%{
        width:4em;
    }
}

@keyframes loadinganimation {
    0%{
        border:1px solid red;
    }
    50%{
        border: 7px dotted black;
    }
    100%{
        border:1px solid red;
    }
}
